/*This CSS rule resets the default margin and padding values of all elements to 0.*/
*{
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 18px;
    min-width: 330px;
    min-height: 39px;
    font-family: Arial;
    background: #101820;
}

.KeyMixerPro{
    position: relative;
    color: #FFFFFF;
    background: #101820;
    padding: 20px;
    text-align: center;
}

.wrapper{
    padding: 20px;
    background: #101820;
}

.password__input{
    position: relative;
    width: 600px;
}

.password__input input{
    padding: 0px;
    border: 0;
    outline: 0;
    height: 60px;
    background: #101820;
    width: 500px;
    color: #fbfdff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-weight: 700;
    font-size: 30px;
}

.password__input input::-webkit-input-placeholder {
    font-weight: 700;
    color: #fbfdff;
    font-size: 30px;
}

.password__input input::-moz-placeholder {
    font-weight: 700;
    color: #fbfdff;
    font-size: 30px;
}

.password__input input:-ms-input-placeholder {
    font-weight: 700;
    color: #fbfdff;
    font-size: 30px;
}

.password__input input::-ms-input-placeholder {
    font-weight: 700;
    color: #fbfdff;
    font-size: 30px;
}

.password__input input::placeholder {
    font-weight: 700;
    color: #fbfdff;
    font-size: 30px;
}

.password__controls{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #019592;
    position: absolute;
    top: 50%;
    right: 0px;
    background: #101820;
    padding: 10px;
}

.password__controls img{
    margin-right: 10px;
    width: 30px;
    -webkit-filter: none;
            filter: none;
    cursor: pointer;
}

.password__controls img:last-child{
    margin-right: 0px;
}

.password__settings p{
    color: #fbfdff;
    font-size: 15px;
    margin: 15px 0; 
}

/** Checkbox styling **/
.checkbox__container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.checkbox__container .checkbox{
    color: #fbfdff;
    font-size: 16px;
    text-transform: capitalize;
}

.checkbox__container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox__container .checkmark {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border: 1px solid #019592;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 1px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
  

  

.checkbox__container input:checked ~ .checkmark {
    background-color: #019592;
}
  

.checkbox__container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  

.checkbox__container input:checked ~ .checkmark:after {
    display: block;
}
  
.checkbox__container .checkmark:after {
    left: 0px;
    top: 0px;
    width: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    height: 8px;
    background: #101820;
}

/** Style range input **/

.password__length_container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 15px;
}

.password__length_container input[type=number]{
    width: 45px;
    height: 30px;
    border: 0;
    outline: 0;
    background: transparent;
    border: 1px solid #019592;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 5px;
    border-radius: 1px;
    color: white;
}

input[type=range] {
    width: 250px;
    margin: 5.85px 0;
    background-color: transparent;
    -webkit-appearance: none;
    outline: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    outline: none;
    background: #019592;
    border: 1.1px solid #019592;
    border-radius: 1px;
    width: 100%;
    height: 11.3px;
    cursor: pointer;
}

input[type=range]::-moz-range-track{
    outline: none;
    background: #019592;
    border: 1.1px solid #019592;
    border-radius: 1px;
    width: 100%;
    height: 11.3px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb{
    outline: none;
    margin-top: -6.95px;
    width: 23px;
    height: 23px;
    background: #101820;
    border: 2.5px solid #019592;
    border-radius: 12px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb{
    margin-top: -6.95px;
    width: 20px;
    height: 20px;
    background: #101820;
    border: 2.5px solid #019592;
    border-radius: 12px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track{
    outline: none;
    background: #019592;
}

input[type=range]:focus::-moz-range-track{
    outline: none;
    background: #019592;
}

/* Remove outer dotted line */
input[type=range]::-moz-focus-outer {
    border: 0;
}

